<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<body>
<section th:fragment="content">
  <h1>비밀번호 재설정</h1>


  <!-- 토큰은 쿼리스트링 또는 hidden 필드로 전달 -->
  <form th:action="@{/password/reset}" method="post">
    <input type="hidden" name="token" th:value="${token}" />


    <div>
      <label for="newPassword">새 비밀번호</label>
      <input id="newPassword" name="newPassword" type="password" required />
    </div>


    <div>
      <label for="confirmNewPassword">비밀번호 확인</label>
      <input id="confirmNewPassword" name="confirmNewPassword" type="password" required />
    </div>


    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <button type="submit">변경</button>
  </form>


  <p th:if="${resetSuccess}">비밀번호가 변경되었습니다. 로그인해 주세요.</p>
  <div>
    <a th:href="@{/login}">로그인으로</a>
  </div>
</section>
</body>
</html>