<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<header th:fragment="site-header">
  <nav>
    <a th:href="@{/}">BookStore</a>


    <form th:action="@{/search}" method="get">
      <input type="search" name="q" placeholder="검색"/>
      <button type="submit">검색</button>
    </form>


    <ul>
      <li><a th:href="@{/cart}">장바구니</a></li>
      <li><a th:href="@{/mypage/orders}">마이페이지</a></li>
      <li sec:authorize="isAnonymous()"><a th:href="@{/login}">로그인</a></li>
      <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">로그아웃</a></li>
    </ul>
  </nav>


  <nav th:if="${isAdmin}">
    <ul>
      <li><a th:href="@{/admin/products}">상품</a></li>
      <li><a th:href="@{/admin/orders}">주문</a></li>
      <li><a th:href="@{/admin/members}">회원</a></li>
      <li><a th:href="@{/admin/inventory}">재고</a></li>
    </ul>
  </nav>
</header>
</body>
</html>
